@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

section{
    scroll-margin-top: 100px;
}
/*classes flex*/
.flex {
    display: flex;
    flex-wrap: wrap;
}
.gap-20 {
    gap: 20px;
}
.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* Classes de largeurs */

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.container-500 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.margin-top100 {
    margin-top: 100px;
}
.margin-top50 {
    margin-top: 50px;
}
.margin-top20 {
    margin-top: 20px;
}
.padding-10{
    padding: 15px 0px 15px 0px;
}
.margin-left50{
    margin-left: 50px;
}
.margin-50{
    margin: 50px;
}

.margin-right-300{
    margin-right: 300px;
}

.w10{
    width: 10%;
}
.w18{
    width: 18%;
}
.w23 {
    width: 23%;
}
.w25 {
    width: 25%;
}
.w28 {
    width: 28%;
}
.w33 {
    width: 33%;
}
.w40{
    width: 40%;
}
.w48 {
    width: 48%;
}
.w50 {
    width: 50%;
}
.w60 {
    width: 60%;
}
.w70 {
    width: 70%;
}
.w100 {
    width: 100%;
}



/* Classes de modification de texte */
.txtcenter{
    text-align: center;
}
.suprpuce {
    list-style: none;
}
.no-underline {
    text-decoration: none; /* Supprime le soulignement */
}
.button-yellow {
    background-color: #F1E2C4;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: "Oxanium",sans-serif;
      border: #000000 2px solid;
    box-shadow: 5px 5px 0px rgb(0, 0, 0); 
}

.button{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: "Oxanium",sans-serif;
      border: #000000 2px solid;
    box-shadow: 5px 5px 0px rgb(0, 0, 0); 
}

 

.titre-box{
    padding: 20px 0px 20px 0px;
}

.big-number{
       font-size: 70px;
    font-weight: 700;
     font-family: "Oxanium",sans-serif; 
}
h2{
    font-size: 30px;
    font-weight: 700;
     font-family: "Oxanium",sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

p, a{
    font-family: "Oxanium",sans-serif;
}


.icone-title{
    font-size: 40px;
}

/*Classes modification de fond */
.box-border-black{
            padding: 20px;
            border-radius: 20px;
            box-shadow: 5px 5px 0px rgb(0, 0, 0); 
            background-color: white;
            border: #000000 3px solid;
        }
        
.section-hero {
    height: 90vh;
    width: 100%;
    background-color: #F1E2C4;
}
/* Alignement de texte */
.align-center {
    align-items: center;
}
.align-left {
   align-items: left;
}
.align-right {
    align-items: right;
}


 /* SECTION POURQUOI CHOISIR T DEFIS */

        .carte-pourquoi{
            position: relative;
            padding-top: 40px;
        }

        
        .carte-pourquoi h4{
        font-family: "Oxanium",sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 15px;
        }

        .pourquoi-icone-container{
            width: 50px;
            height: 50px;
            background-color: #C366A7;
            font-size: 30px;
            border-radius: 10px;
            border: #000000 solid 2px;
            position: absolute;
            top: -30px;
        }


a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}
/*Header*/
 
header{
    position: sticky;
    top: 0px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 15px 30px;
}

/*Icônes*/

.etoiles{
    width: 30px;
    height: 30px;
    color: rgb(239, 202, 16);
}
/* classes de couleur */
.rose {
    color: #C366A7;
}
.violet-pastel {
    color: #BF9DD8;
}
.beige-pastel {
    color: #F1E2C4;
}
/* classes de la couleur de fond */
.backgroundbeige {
    background-color: #F1E2C4;
}
.backgroundrose {
    background-color: #C366A7;
}
.background-violetpastel {
    background-color:#BF9DD8;
}

/*SECTION PROPOSITION*/

.taille-prop-petit{
    font-size: 14px;
}
h5{
    font-size:23px;
    font-family: "Oxanium";
}

/*SOMMAIRE*/

.sticky{
    position: sticky;
}
/*FOOTER*/

.footer-icone-container{
            width: 30px;
            height: 30px;
            background-color: #C366A7;
            font-size: 20px;
            color: white;
            border-radius: 10px;
            border: #000000 solid 2px;
        }