@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
/*sommaire docu*/
.scrollmargin-topsommaire {
    scroll-margin-top: 35px;
}
/*rab*/
.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.noir{
    background-color: black;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

p{
    font-family: "Oxanium", sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oxanium", sans-serif;
}

section {
    scroll-margin-top: 100px;
    padding: 50px 0px;
}

.section-sans-pt{
      scroll-margin-top: 100px;
    padding: 0px;
}

/*classes flex*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-start {
    flex: start;
}

.flex-end {
    flex: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-column{
    flex-direction: column;
}

.colonne {
    flex-direction: column;
    /*align-items: center;*/
    display: flex;
}

.moove1 {
    transform: translate(125px, 42px);
}

.moove2 {
    transform: translate(125px, 42px);
}

.moove3 {
    transform: translate(125px, 39px);
}

.moove4 {
    transform: translate(125px, 42px);
}

.divmoove {
    transform: translate(120px, -2px);
}


.gap-20 {
    gap: 20px;
}
.gap-4 {
    gap: 4px;
}

.gap-10 {
    gap: 10px
}

.gap-50 {
    gap: 50px;
}
.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* Classes de largeurs et hauteurs*/
.container-2000 {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;}



.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-500 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.margin-top250 {
    margin-top: 250px;
}

.margin-top300 {
    margin-top: 300px;
}

.margin-top100 {
    margin-top: 100px;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-top20 {
    margin-top: 20px;
}
.margin-bottom100{
    margin-bottom: 100px;
}
.margin-bottom55 {
    margin-bottom: 55px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}
.padding-5 {
    padding: 5px 10px 5px 10px;
}

.padding-10 {
    padding: 15px 0px 15px 0px;
}

.padding-20 {
    padding: 20px 0px 20px 0px;
}

.padding-40 {
    padding: 40px 0px 40px 0px;
}

.pl-55{
    padding-left: 55px;
}

.padding-top-50{
    padding-top: 50px;
}
.margin-left25 {
    margin-left: 25px;
}
.margin-left50 {
    margin-left: 50px;
}

.margin-left-100 {
    margin-left: 100px;
}
.margin-left {
    margin-left: 500px;
}

.margin-50 {
    margin: 50px;
}
.margin-right18 {
    margin-right: 18%;
}
.margin-right {
    margin-right: 500px;
}
.margin-right-100 {
    margin-right: 100px;
}
.w10 {
    width: 10%;
}

.w18 {
    width: 18%;
}

.w20 {
    width: 20%;
}

.w23 {
    width: 23%;
}

.w25 {
    width: 25%;
}

.w28 {
    width: 28%;
}

.w33 {
    width: 33%;
}

.w40 {
    width: 40%;
}

.w48 {
    width: 48%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w75{
width: 75%;
}

.w80{
    width: 80%;
}


.w100 {
    width: 100%;
}
.w125 {
    width: 125%;
}

/* Classes de modification de texte */
.titre {
    font-weight: bold;
    font-size: 30px;
}

.douze{
    font-size: 12px;
}
.txtcenter {
    text-align: center;
}

.suprpuce {
    list-style: none;
    /* supprime les points créer par les listes*/
}

.no-underline {
    text-decoration: none;
    /* Supprime le soulignement */
}

.gras{
    font-weight: bold;
}
.button-yellow {
    background-color: #F1E2C4;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: "Oxanium", sans-serif;
    border: #000000 2px solid;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

/*.button {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: "Oxanium", sans-serif;
    border: #000000 2px solid;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
} */

.ombre {
    box-shadow: 0px 0px 5px gray;
}

.titre-box {
    padding: 0px 0px 20px 0px;
}

.big-number {
    font-size: 70px;
    font-weight: 700;
    font-family: "Oxanium", sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Oxanium", sans-serif;
}

h1 {
    font-size: 60px;
    font-family: "Oxanium",sans-serif;
}

p,
a {
    font-family: "Oxanium", sans-serif;
}

.police{
    font-family: "Oxanium", sans-serif;
}
.icone-title {
    font-size: 40px;
}

/*Classes modification de fond */
.box-border-black {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    background-color: white;
    border: #000000 3px solid;
}

.box-border-blackv2 {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: white;
    border: #000000 0px solid;
}

.box-violet{
    background: #BF9DD8;
    border-radius: 20px;
    padding: 20px;
}

/* Alignement de texte 
.align-center {
    align-items: center;
    justify-content: center;
    align-content: center;
}
*/
.align-left {
    align-items: left;
}

.align-right {
    align-items: right;
}


/* SECTION POURQUOI CHOISIR T DEFIS */

.carte-pourquoi {
    position: relative;
    padding-top: 40px;
}


.carte-pourquoi h4 {
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}
.carte-pourquoi p {
    font-family: "Oxanium", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
}


.pourquoi-icone-container {
    width: 50px;
    height: 50px;
    background-color: #C366A7;
    font-size: 30px;
    border-radius: 10px;
    border: #000000 solid 2px;
    position: absolute;
    top: -30px;
}


a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

/*Header*/

header {
    position: sticky;
    top: 0px;
    background-color: white;
    align-items: center;
    text-decoration: none;
    padding: 15px 35px;
    z-index: 10;
    /* permet d'avancer le header comme un axe Z (ça avance la fonction et à l'inverse si le chiffre était négatif ça reculerais)*/
    box-shadow: 0px 0px 5px gray;
}

/* From Uiverse.io by adamgiebl */ 
button {
  background: #F1E2C4;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


/*Icônes*/

.etoiles {
    width: 30px;
    height: 30px;
    color: rgb(239, 202, 16);
}

.download {
    /* taille icône header */
    font-size: 21px;
    margin-top: 5%;
    margin-right: 4px;
}

/* classes de couleur */
.rose {
    color: #C366A7;
}

.violet-pastel {
    color: #BF9DD8;
}

.beige-pastel {
    color: #F1E2C4;
}

/* classes de la couleur de fond */
.backgroundbeige {
    background-color: #F1E2C4;

}

.backgroundrose {
    background-color: #C366A7;
}

.background-violetpastel {
    background-color: #BF9DD8;
}

.background-bleu{
    background-color: #5a7eb4;
}

.background-rouge{
    background-color: #DE826D;
}

.background-rose-team{
    background-color: #BD5971;
}
.background-vert{
background-color: #9BC264;
}
/*SECTION Pourquoi*/

.taille-bg {
    height: 400%;
}

/*SECTION PROPOSITION*/

.taille-prop-petit {
    font-size: 14px;
}

h5 {
    font-size: 18px;
    font-family: "Oxanium";
    margin-bottom: 10px;
}

.fond-puzzle {
    background-image: url(asset/puzzle_fond.png);
    background-position: center;
    background-repeat: none;
    background-size: 120%;
}

/*SOMMAIRE*/

.sticky {
    position: sticky;
}

/* HERO */
.section-hero {
    height: 90vh;
    width: 100%;
    position: relative;
    background-image: url(asset/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-family: "Oxanium";
}

.section-hero2 {
    background-image: url(asset/bg-hero.png);
    background-size: cover;
    background-position: right;
    height: 80vh;
    border-radius: 0px 0px 15px 15px;
}

.download-box img {
    border: #000000 3px solid;
    border-radius: 10px;
}


/*témoignages*/

.message {
    /*
   
    margin-left: 20px;
    margin-bottom: 10px;background-color: white;
    */ 
    position: relative;
    padding: 22px;
    text-align: left;
    font-family: "Oxanium";
    border-radius: 16px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    background-color: white;
    border: #000000 3px solid;
    z-index:1;
    min-height: 200px;
}

    /*Swiper*/

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-slide {
      width: 70%;
      height: 300px;
      padding:32px;
    }



.message-content {
    padding: 0;
    margin: 0;
}

.container {
    width: 400px;
    padding: 10px;
}

/*DOCUMENTATION*/


/*SOMMAIRE*/

.cadre-sommaire {
    border-radius: 20px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    background-color: white;
    border: #000000 3px solid;
    font-size: 15px;
    position: sticky;
    top: 100px;
    margin-left: 10px;
    text-decoration: none;
}

/*div appstore googleplay*/
.bbb-div {
    padding: 5px;
    border-radius: 20px;
    /*box-shadow: 5px 5px 0px rgb(0, 0, 0);*/
    background-color: white;
    border: #000000 3px solid;
}

/*Problematique*/

.problematique-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    background-color: #BF9DD8;
    border: #000000 3px solid;
    color: #ffffff;
}
/*PERSONA*/

.persona{
    width: 100%;
    height: 30%;
    padding: 20px;
}
/*userflow*/
.userflow-img {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

/*Carousels*/
.carousel-contenu{
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap:32px;
    >div{
        width: 200px;
    }
}

.carousel-container{
    width:100%;
    overflow-x: scroll;
}
/*TESTS UTILISATEURS*/

.image-test-utilisateur {
    width: 75%;
    padding: 20px;
    border-radius: 5%;
    margin-left: 15%;
}

.image-test-utilisateur2 {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20%;

}

.image-test-utilisateur3 {
     width: 45%;
    padding: 20px;
    border-radius: 10px;
    margin-left: 25%;
}

.image-test-utilisateur4 {
    width: 86%;
    padding: 20px;
    border-radius: 5%;
    margin-left: 15%;
}

/*EQUIPE*/


.card {
  font-family: "Oxanium", sans-serif;
  width: 40%;
  height: 45%;
  translate: -6px -6px;
  border: 3px solid #000000;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.head {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 900;
  width: 100%;
  height: 32px;
  background: #ffffff;
  padding: 5px 12px;
  color: #000000;
  border-bottom: 3px solid #000000;
}

.content {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
}

.card:hover {
  translate: -6px;
}

.image-equipe {
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
}  

/*FOOTER*/

.traitNoir {
    border: #000000 solid 1px;
}

.footer-icone-container {
    width: 42px;
    height: 42px;
    background-color: #C366A7;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    border: #000000 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taille-icone{
    font-size:40px
}
.ombre{
    box-shadow: 0px 0px 5px gray;
}

/*Animation contacts*/
/* From Uiverse.io by eslam-hany */ 
.book {
  position: relative;
  border-radius: 20px;
  width: 230px;
  height: 50px;
  color: #ffffff;
  background-color: #C366A7;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-bogn: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover {
  top: 0;
  position: absolute;
  background-color: #BF9DD8;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
   box-shadow: 5px 5px 0px rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
/*  font-weight: bolder;*/
}

.btn {
    background: #F1E2C4;
    border-radius:10px;
    color:black;
     box-shadow: 0.1em 0.1em;
    border: 3px solid black;
    padding: 10px 10px;
    display: inline-block;}

    .bulle{
        padding:40px;
    border-radius: 20px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    background-color: white;
    border: #000000 3px solid;

    }
    .container-doc{
        margin: 0px 100px 0px 40px;
    }


    .rejoignez{
         padding: 0 55px;
    }


